.chatbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.chat__message {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.4rem;
}
.edit-btn__chatmessage {
  padding: 0 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.edit-btn__chatmessage:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.chat__message img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.chat__message__info {
  padding: 0.8rem;
}
.chat__message__timestamp {
  padding-left: 1rem;
  color: grey;
  font-weight: 300;
  font-size: medium;
}
