.chat {
  position: relative;
  flex: 0.7;
  flex-grow: 1;
  /* padding-bottom: 150px; */
  margin-bottom: 4rem;
  background: rgba(255, 255, 255, 0.65);
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  border: 1px solid lightgray;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}
.chat__channelName {
  display: flex;
  align-items: center;
}
.chat__channelName > .MuiSvgIcon-root {
  font-size: 1.2rem;
  margin-left: 5px;
}
.chat__headerRight {
  display: flex;
  flex-flow: row wrap;
}
.chat__headerRight > p,
.chat__headerRight > button {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}
.chat__headerRight > button:hover {
  background-color: rgb(209, 208, 208);
}
.chat__headerRight > p > .MuiSvgIcon-root,
.chat__headerRight > button > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 1rem;
}
.editModal__section hr {
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
}
.editModal__section input {
  width: 90%;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.modal__btns {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 1rem;
}
.modal__btns button {
  background-color: rgb(0, 102, 255);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.8rem 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
}
.modal__btns button:hover {
  background-color: rgb(2, 91, 224);
}
.modal__btns button:disabled {
  background-color: rgba(2, 91, 224, 0.493);
}
.chat__message__section {
  /* min-height: 68vh; */
  max-height: 65vh;
  overflow-y: auto;
}
.details__btn {
  position: relative;
}
.details__btn ul {
  position: absolute;
  top: 2rem;
  right: 0;
  padding: 1rem 0;
  border: 1px solid rgb(194, 192, 192);
  min-width: 230px;
  text-align: center;
  background-color: whitesmoke;
}
.details__btn li {
  display: block;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 500;
}
