.App {
  overflow: hidden;
}
.app__body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
/* .app__body > aside {
  max-width: 260px;
} */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
